@model bookstore.ViewModels.AdminDashboardViewModel
@{

    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">DASHBOARD</h3>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")" class="breadcrumb-link">Dashboard</a></li>
                                
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Total User</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">@Model.ListUser.Count()</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                            @*<span><i class="fa fa-fw fa-arrow-up"></i></span><span>5.86%</span>*@
                        </div>
                    </div>
                    <div id="sparkline-revenue"></div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Total Books </h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">@Model.ListBook.Count()</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                            @*<span><i class="fa fa-fw fa-arrow-up"></i></span><span>5.86%</span>*@
                        </div>
                    </div>
                    <div id="sparkline-revenue"></div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Total Category</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">@Model.ListCategory.Count()</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                            @*<span><i class="fa fa-fw fa-arrow-up"></i></span><span>5.86%</span>*@
                        </div>
                    </div>
                    <div id="sparkline-revenue2"></div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Total Publisher</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">@Model.ListPublisher.Count()</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-primary font-weight-bold">
                            @*<span>N/A</span>*@
                        </div>
                    </div>
                    <div id="sparkline-revenue3"></div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Total Author</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">@Model.ListAuthor.Count()</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                            @*<span>-2.00%</span>*@
                        </div>
                    </div>
                    <div id="sparkline-revenue4"></div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Total Order</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">@Model.ListOrder.Count()</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-secondary font-weight-bold">
                            @*<span>-2.00%</span>*@
                        </div>
                    </div>
                    <div id="sparkline-revenue4"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <h4 class="card-header">USERS</h4>
                        <ul class="social-sales list-group list-group-flush">
                            @foreach (var item in Model.ListUser.Take(3).OrderByDescending(m => m.id))
                            {
                                <li class="list-group-item social-sales-content">
                                    <span class="">@item.name</span>@*<span class="social-sales-count text-dark">@item.Books.Where(m => m.publisher_id == item.id).Count() Books</span>*@
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="@Url.Action("Index", "Publisher")" class="btn-primary-link">View Details</a>
                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <h4 class="card-header">AUTHORS</h4>
                        <ul class="social-sales list-group list-group-flush">
                            @foreach (var item in Model.ListAuthor.Take(3).OrderByDescending(m => Model.ListBook.Where(p => p.author_id == m.id).Count()))
                            {
                                <li class="list-group-item social-sales-content">
                                    <span class="">@item.author_name</span><span class="social-sales-count text-dark">@item.Books.Where(m => m.author_id == item.id).Count() Books</span>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="@Url.Action("Index", "Author")" class="btn-primary-link">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <h4 class="card-header">CATEGORIES</h4>
                        <ul class="social-sales list-group list-group-flush">
                            @foreach (var item in Model.ListCategory.Take(3).OrderByDescending(m => Model.ListBook.Where(p => p.category_id == m.id).Count()))
                            {
                                <li class="list-group-item social-sales-content">
                                    <span class="">@item.category_name</span><span class="social-sales-count text-dark">@item.Books.Where(m => m.category_id == item.id).Count() Books</span>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="@Url.Action("Index", "Category")" class="btn-primary-link">View Details</a>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <h4 class="card-header">PUBLISHERS</h4>
                        <ul class="social-sales list-group list-group-flush">
                            @foreach (var item in Model.ListPublisher.Take(3).OrderByDescending(m => Model.ListBook.Where(p => p.publisher_id == m.id).Count()))
                            {
                                <li class="list-group-item social-sales-content">
                                    <span class="">@item.publisher_name</span><span class="social-sales-count text-dark">@item.Books.Where(m => m.publisher_id == item.id).Count() Books</span>
                                </li>
                            }

                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="@Url.Action("Index", "Publisher")" class="btn-primary-link">View Details</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-8 col-sm-12 col-16">
                <div class="card">

                    <div class="card-body">
                        <h3 class="card-title">RECENT ADDED BOOKS</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0 m-b-10">#</th>
                                        <th class="border-0">Title</th>
                                        <th class="border-0">Quantity</th>
                                        <th class="border-0">Price</th>
                                        <th class="border-0">Author</th>
                                        <th class="border-0">Publisher</th>
                                        <th class="border-0">Category</th>
                                        <th class="border-0">Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListBook.OrderByDescending(m => m.id).Take(5))
                                    {
                                        <tr>

                                            <td>@item.id</td>
                                            <td>@item.title</td>
                                            <td>@item.quantity_in_stock</td>
                                            <td>@item.price</td>
                                            <td>@item.Author.author_name</td>
                                            <td>@item.Publisher.publisher_name</td>
                                            <td>@item.Category.category_name</td>
                                            <td><img style="width:50px;height:50px" src="~/images/shop/@item.image" /></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a href="@Url.Action("Index", "Book")" class="btn-primary-link">View Details</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-8 col-sm-12 col-16">
                <div class="card">

                    <div class="card-body">
                        <h3 class="card-title">RECENT ORDERS</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr class="border-0">
                                        <th class="border-0 m-b-10">#</th>
                                        <th class="border-0">Order Number</th>
                                        <th class="border-0">Payment Status</th>
                                        <th class="border-0">Status</th>
                                        <th class="border-0">Order Date</th>
                                        <th class="border-0">Total Price</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListOrder.OrderByDescending(m => m.id).Take(5).Where(m => m.status == "Preparing"))
                                    {
                                        <tr>

                                            <td>@item.id</td>
                                            <td>@item.order_number</td>
                                            <td>@item.payment_status</td>
                                            <td id="status"><span class="badge-dot badge-primary mr-1"></span>@item.status</td>
                                            <td>@item.date.Year/@item.date.Month/@item.date.Day</td>
                                            <td>@item.total_price</td>
                                        </tr>    
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a href="@Url.Action("Index", "Order")" class="btn-primary-link">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>