@model IEnumerable<bookstore.Models.User>

@{
    ViewBag.Title = "ManageUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">

                            <h5 class="card-title">LIST OF USERS</h5>

                            <button type="button"><a href="@Url.Action("Create", "ManageUser")">Create New</a></button>
                        </div>
                      
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">User Name</th>
                                        <th scopt="col">Role</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var user in Model)
                                    {
                                        <tr>
                                            <td>@user.id</td>
                                            <td>@user.name</td>
                                            <td>@user.role</td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = user.id }, new { @class = "btn btn-danger" })
                                                @Html.ActionLink("ViewDetail", "ViewDetail", new { id = user.id },new { @class="btn btn-default"})

                                                @using (Html.BeginForm("Delete", "ManageUser", new { id = user.id }, FormMethod.Post, new { @style = "display:inline" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" class="btn btn-primary">Delete</button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


@section js{
    <script src="@Url.Content("~/Areas/Admin/Content/vendor/jquery/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/vendor/slimscroll/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/vendor/custom-js/jquery.multi-select.html")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/main-js.js")"></script>
}
