@model IEnumerable<bookstore.Models.User>


<div class="row">
    <div class="col-sm-12 col-12">
        <div class="card">
            <div class="card-body">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div class="alert alert-success" id="success">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <p>@ViewBag.SuccessMsg</p>
                    </div>
                }

                @if (Model.Any(m => m.role == "Admin"))
                {
                    <a href="@Url.Action("Create", "User")" class="btn btn-success fas fa-plus mb-3"> Create New</a>
                }

                <div class="table-responsive">
                    <table class="table table-bordered first">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">User Name</th>
                                <th scopt="col">Role</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>


                        <tbody>

                            @foreach (var user in Model)
                            {

                                <tr>
                                    <td>@user.id</td>
                                    <td>@user.username</td>
                                    <td>@user.role</td>
                                    <td>
                                        @*@Html.ActionLink(" Edit", "Edit", new { id = user.id }, new { @class = "btn btn-light fas fa-edit" })*@

                                        @Html.ActionLink(" Detail", "ViewDetail", new { id = user.id }, new { @class = "btn btn-primary fas fa-file" })

                                        @if (user.role == "Admin")
                                        {
                                            <a data-id="@user.id" href='#' class='btn btn-danger fas fa-trash btnDel'> Delete</a>
                                        }

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


