@model bookstore.ViewModels.UserAddressPaymentCardViewModels
@{
    ViewBag.Title = "ViewDetail User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>User Details</h2>
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div>
            <lable>Name</lable>
            @Html.TextBoxFor(m => m.User.name, new { type = "text", @class = "form-control"})

        </div>

        <div>
            <lable>UserName</lable>
            @Html.TextBoxFor(m => m.User.username, new { type = "text", @class = "form-control" })

        </div>

        <div>
            <lable>Password</lable>
            @Html.TextBoxFor(m => m.User.password, new { type = "password", @class = "form-control" })

        </div>

        <div>
            <lable>Role</lable>
            @Html.TextBoxFor(m => m.User.role, new { type = "text", @class = "form-control" })

        </div>

        <div>
            <lable>Phone</lable>
            @Html.TextBoxFor(m => m.User.phone, new { type = "text", @class = "form-control" })

        </div>

        <div>
            <lable>Email</lable>
            @Html.TextBoxFor(m => m.User.email, new { type = "text", @class = "form-control" })

        </div>

        <div>
            <lable>Dob</lable>
            @Html.TextBoxFor(m => m.User.dob, "{0:dd-MM-yyyy}", new { type = "text", @class = "form-control" })

        </div>



        <br />
        @Html.ActionLink("Edit", "Edit", new { id = Model.User.id })


        <h3>Address</h3>
        <div class="container-fluid  dashboard-content">
            <div>
                <lable>Address</lable>
                @Html.TextBoxFor(m => m.Address.address1, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>City</lable>
                @Html.TextBoxFor(m => m.Address.city, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>District</lable>
                @Html.TextBoxFor(m => m.Address.district, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>Postal Code</lable>
                @Html.TextBoxFor(m => m.Address.postal_code, new { type = "text", @class = "form-control" })

            </div>
        </div>
        <h3>Payment Card</h3>
        <div class="container-fluid  dashboard-content">
            <div>
                <lable>Card Number</lable>
                @Html.TextBoxFor(m => m.PaymentCard.card_number, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>From Date</lable>
                @Html.TextBoxFor(m => m.PaymentCard.from_date, "{0:dd-MM-yyyy}", new { type = "text",  @class = "form-control" })

            </div>

            <div>
                <lable>To Date</lable>
                @Html.TextBoxFor(m => m.PaymentCard.to_date, "{0:dd-MM-yyyy}", new { type = "text", @class = "form-control" })

            </div>
        </div>
    </div>
</div>



