@model bookstore.ViewModels.UserPaymentListAndAddressListViewModels
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="shopper-informations">
            <div class="row">
                @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.ValidationSummary();
                    @Html.AntiForgeryToken();
                    <div class="col-sm-6">
                        <div class="shopper-info">
                            <div class="form-two">
                                <h3>FROM ADDRESS BOOKS</h3> <br />
                                <form>
                                    <h5>ADDRESS</h5>
                                    @Html.DropDownListFor(m => m.Address, new SelectList(Model.AddressList, "id", "city"), "-----Select Address-----") <br />
                                    <br /> 
                                    <h5>PAYMENT</h5>
                                    <label>Cash on delivery</label>   @Html.RadioButtonFor(m => m.Payment, "COD (Cash on delivery)")
                                    @Html.DropDownListFor(m => m.Payment, new SelectList(Model.PaymentCardList, "id", "card_number"), "-----Select Payment-----") <br /> <br />

                                    <div class="order-message">
                                        <h5>NOTE</h5>
                                        @Html.TextAreaFor(m => m.Note, new { type = "text", @class = "form-control", @placeholder = "Notes about your order, Special Notes for Delivery" })
                                    </div> <br />

                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button class="btn btn-primary" type="submit"> Order </button>
                                </form>
                            </div>

                        </div>
                    </div>
                }
                @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.ValidationSummary();
                    @Html.AntiForgeryToken();
                    <div class="col-sm-6">
                        <div class="shopper-info">
                            <div class="form-two">
                                <h3>NEW ADDRESS</h3> <br />
                                <form>
                                    <h5>ADDRESS</h5>
                                    @Html.TextBoxFor(m => m.Address, new { type = "text", @class = "form-control", @placeholder = "recipient address" }) <br /> 

                                    <h5>PAYMENT</h5>
                                    <label>Cash on delivery</label>  @Html.RadioButtonFor(m => m.Payment, "COD (Cash on delivery)")
                                    @Html.DropDownListFor(m => m.Payment, new SelectList(Model.PaymentCardList, "id", "card_number"), "-----Select Payment-----") <br /> <br />

                                    <div class="order-message">
                                        <h5>NOTE</h5>
                                        @Html.TextAreaFor(m => m.Note, new { type = "text", @class = "form-control", @placeholder = "Notes about your order, Special Notes for Delivery" })

                                    </div>

                                    <button class="btn btn-primary" type="reset">Reset</button>
                                    <button class="btn btn-primary" type="submit"> Order </button>
                                </form>
                            </div>

                        </div>

                    </div>

                }

            </div>
        </div>
        @*<div class="review-payment">
            <h2>Review & Payment</h2>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price</td>
                        <td class="quantity">Quantity</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>

                                            @if (Session["cart"] != null)
                                            {

                                                double total_price = 0;

                                                foreach (var item in Model.CartItems)
                                                {
                                                    double LineTotal = item.Linetotal;
                                                    total_price = total_price + LineTotal;
                                                    <tr>
                                                        <td class="cart_product">
                                                            <a href=""><img src="images/cart/one.png" alt=""></a>
                                                        </td>
                                                        <td class="cart_description">
                                                            <h4><a href="">@item.Book.title</a></h4>
                                                            <p>available quantity: @item.Book.quantity_in_stock</p>
                                                        </td>
                                                        <td class="cart_price">
                                                            <p>$ @item.Book.price</p>
                                                        </td>
                                                        <td class="cart_quantity">
                                                            <form action="@Url.Action("UpdateQuantity")" method="post">
                                                                <input type="hidden" name="bookId" value="@item.Book.id" />
                                                                <input type="number" min="1" step="1" name="quantity" value="@item.Quantity" style="width: 75px" />
                                                                <button type="submit" class="btn btn-default update"> Update </button>
                                                            </form>
                                                        </td>
                                                        <td class="cart_total">
                                                            <p class="cart_total_price">$ @LineTotal</p>
                                                        </td>
                                                        <td class="cart_delete">
                                                            <a class="cart_quantity_delete" href="@Url.Action("DeleteFromCart", new { bookId = item.Book.id })" onclick="return confirm('Delete this item?');"><i class="fa fa-times"></i></a>

                                                        </td>
                                                    </tr>

                                                }
                    <td colspan="4">&nbsp;</td>
                                                <td colspan="2">
                                                    <table class="table table-condensed total-result">
                                                        <tr>
                                                            <td>Cart Sub Total</td>
                                                            <td>@total_price</td>
                                                        </tr>

                                                        <tr>
                                                            <td>Total</td>
                                                            <td><span>$ @total_price</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            }
                                            </tr>

                                        </tbody>

            </table>
        </div>*@

    </div>
</section> <!--/#cart_items-->

@section js
{
    <script src="@Url.Content("~/Scripts/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.scrollUp.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.prettyPhoto.js")"></script>
    <script src="@Url.Content("~/Scripts//main.js")"></script>
}