@model  bookstore.ViewModels.Cart.CartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model == null || Model.CartItems.Count() == 0)
{
    <p class="text-info text-center">
        Giỏ hàng của bạn rỗng!
    </p>
}
else
{
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="~/Views/Home/Index.cshtml">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed cart-table">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Item</td>
                            <td class="description"></td>
                            <td class="price">Price</td>
                            <td class="quantity">Quantity</td>
                            <td class="total">Total</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Session["cart"] != null)
                        {
                            double totalPrice = 0;

                            foreach (var item in Model.CartItems)
                            {
                                totalPrice += item.Linetotal;
                                <tr>
                                    <td class="cart_product">
                                        <a href=""><img src="images/cart/one.png" alt=""></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="">@item.Book.title</a></h4>
                                        <p>available quantity: @item.Book.quantity_in_stock</p>
                                    </td>
                                    <td class="cart_price">
                                        <p>$ @item.Book.price</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            @using (Html.BeginForm("UpdateQuantity", "Cart", new { id = item.Book.id }, FormMethod.Post, new { id = "update-cart-"+item.Book.id }))
                                            {
                                                <a class="cart_quantity_up" href=""> + </a>                                                
                                                @Html.TextBoxFor(p => p.Quantity, ""+item.Quantity ,new { @class = "cart_quantity_input", size=2, onChange= "document.getElementById('update-cart-"+item.Book.id+"').submit()" })
                                                <a class="cart_quantity_down" href=""> - </a>
                                            }

                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">$ @item.Linetotal</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href="@Url.Action("DeleteFromCart",new { bookId = item.Book.id})" onclick="return confirm('Delete this item?');"><i class="fa fa-times"></i></a>
                                
                                    </td>
                                </tr>
                            }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h4>Total Price</h4>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price"> $ @totalPrice</p>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Checkout")" class="btn btn-default check_out"> Check out </a>
                                    </td>
                                </tr>

                         }
                    </tbody>
                </table>

            </div>
        </div>
    </section>
}
