
<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">E-Shopper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item dropdown nav-user">
                    @if (Session["UserName"] != null)
                    {
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-circle"></i> Hello @Session["UserName"]!</a>
                        <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">

                           
                            @*<a class="dropdown-item" href="@Url.Action("ViewDetail", "User" , new { id = Model.id })"><i class="fas fa-user mr-2"></i>Account</a>*@
                            <a class="dropdown-item" href="@Url.Action("Logout", "Home", new { area = "" })"><i class="fas fa-power-off mr-2"></i>Logout</a>

                        </div>

                    }
                    </li>
            </ul>
        </div>
    </nav>
</div>

<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Dashboard")"><i class="fas fa-align-justify"></i>Dashboard</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Index","User")"><i class="fas fa-user-circle"></i>Manage User</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Index","Book")"><i class="fas fa-book"></i>Manage Book</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Category")"><i class="fas fa-tag"></i>Manage Category</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Author")"><i class="fas fa-pen-square"></i>Manage Author</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Index","Publisher")"><i class="fab fa-wpforms"></i>Manage Publisher</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Order")"><i class="fas fa-cart-plus"></i>Manage Order</a>
                    </li>



                </ul>
            </div>
        </nav>
    </div>
</div>


