@model IEnumerable<bookstore.Models.Publisher>

@{
    ViewBag.Title = "ManagePublisher";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Manage Category</h2>



<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <button type="button"><a href="@Url.Action("Create", "ManagePublisher")">Create</a></button>
        <div class="row">
            <div class="col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Basic Table</h5>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Publisher Name</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>


                            <tbody>
                                @foreach (var publisher in Model)
                                {
                                    <tr>
                                        <td>@publisher.id</td>
                                        <td>@publisher.publisher_name</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = publisher.id })
                                        </td>
                                        <td>
                                            @using (Html.BeginForm("Delete", "ManageCategory", new { id = publisher.id }, FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <button type="submit">Delete</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section js{
    <script src="@Url.Content("~/Areas/Admin/Content/vendor/jquery/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/vendor/slimscroll/jquery.slimscroll.js")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/vendor/custom-js/jquery.multi-select.html")"></script>
    <script src="@Url.Content("~/Areas/Admin/Content/js/main-js.js")"></script>
}
