<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title -  E-Shopper</title>
    @Styles.Render("~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/Areas/Admin/Content/vendor/fonts/circular-std/style.css")
    @Styles.Render("~/Areas/Admin/Content/css/style.css")
    @Styles.Render("~/Areas/Admin/Content/vendor/fonts/fontawesome/css/fontawesome-all.css")
    @Styles.Render("~/Areas/Admin/Content/vendor/charts/chartist-bundle/chartist.css")
    @Styles.Render("~/Areas/Admin/Content/vendor/charts/morris-bundle/morris.css")
    @Styles.Render("~/Areas/Admin/Content/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css")
    @Styles.Render("~/Areas/Admin/Content/vendor/charts/c3charts/c3.css")
    @Styles.Render("~/Areas/Admin/Content/vendor/fonts/flag-icon-css/flag-icon.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    @Scripts.Render("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
</head>

<body>
    @Html.Partial("~/Areas/Admin/Views/Shared/Partials/_Header.cshtml")



    @RenderBody();

    @Html.Partial("~/Areas/Admin/Views/Shared/Partials/_Footer.cshtml")


    @RenderSection("js", false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>
