@model bookstore.ViewModels.BookCategoryPublisherAuthorViewModel
@{
    ViewBag.Title = "CreateBook";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">CREATE NEW BOOKS</h3>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Book")" class="breadcrumb-link">Books</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Create New Book</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Create", "Book", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
        {

            @Html.AntiForgeryToken();
            <div class="card">
                <div class="card-body">

                    <h2 class="card-title">Book Information</h2>
                    <br />

                    <div class="row">
                        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-16">
                            <div class="text-center">
                                @*<img src="~/images/shop/@Model.Book.image" alt="User Avatar" class="rounded-circle user-avatar-xxl">*@
                                <label>Book Image</label>
                                <input type="file" name="upload_image" id="upload_image" class="form-control" />
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-12">
                            <div class="user-avatar-info">

                                <div class="user-avatar-address">
                                    <label>Book title:</label>
                                    @Html.TextBoxFor(m => m.Book.title, new { type = "text", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Book.title, "", new { @class = "text-danger title" })
                                    <br />

                                    <label>Edition:</label>
                                    @Html.TextBoxFor(m => m.Book.edition, new { type = "text", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Book.edition, "", new { @class = "text-danger edition" })
                                    <br />

                                    <label>By:</label> <br />
                                    @Html.DropDownListFor(m => m.Book.author_id, new SelectList(Model.ListAuthor, "id", "author_name"), "-----Select Author-----", new { @class = "form-control", style = "width:210px" }) <br />
                                    @Html.ValidationMessageFor(m => m.Book.author_id, "", new { @class = "text-danger author" })
                                    <br />

                                    <label>Publisher</label> <br />
                                    @Html.DropDownListFor(m => m.Book.publisher_id, new SelectList(Model.ListPublisher, "id", "publisher_name"), "-----Select Publisher-----", new { @class = "form-control", style = "width:210px" }) <br />
                                    @Html.ValidationMessageFor(m => m.Book.publisher_id, "", new { @class = "text-danger publisher" })
                                    <br />

                                    <label>Category:</label> <br />
                                    @Html.DropDownListFor(m => m.Book.category_id, new SelectList(Model.ListCategory, "id", "category_name"), "-----Select Category-----", new { @class = "form-control", style = "width:210px" }) <br />
                                    @Html.ValidationMessageFor(m => m.Book.category_id, "", new { @class = "text-danger category" })
                                    <br />

                                    <label>Quantity in stock:</label>
                                    @Html.TextBoxFor(m => m.Book.quantity_in_stock, new { type = "text", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Book.quantity_in_stock, "", new { @class = "text-danger qty" })
                                    <br />

                                    <label>Public Date:</label>
                                    @Html.TextBoxFor(m => m.Book.public_date, new { type = "date", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Book.public_date, "", new { @class = "text-danger date" })
                                    <br />

                                    <label>Price</label>
                                    @Html.TextBoxFor(m => m.Book.price, new { type = "text", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Book.price, "", new { @class = "text-danger price" })
                                    <br />

                                    <label>Description: </label>
                                    @Html.TextBoxFor(m => m.Book.description, new { type = "text", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Book.description, "", new { @class = "text-danger des" })
                                    <br />

                                    <button type="submit" class="btn btn-primary" onclick="Validate()">Submit</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section js{
    <script>
        function Validate() {
            var check = false;
            var title = document.getElementByClassName("title").val();''
            var edition = $('#edition').val();
            var author = $('#author').val();
            var publisher = $('#publisher').val();
            var category = $('#categroy').val();
            var qty = $('#qty').val();
            var date = $('#date').val();
            var price = $('#price').val();
            var des = $('#des').val();

            if (title == "" || edition == "" || author == "" || publisher == "" || category == "" || qty == "" || date == "" || price == "" || des == "") {
                $('#title').next().html('Please enter category name');
                $('#edition').next().html('Please enter category name');
                $('#author').next().html('Please enter category name');
                $('#publisher').next().html('Please enter category name');
                $('#category').next().html('Please enter category name');
                $('#qty').next().html('Please enter category name');
                $('#date').next().html('Please enter category name');
                $('#price').next().html('Please enter category name');
                $('#des').next().html('Please enter category name');
                check = false;
            }
            else {
                $('#name').next().html('');
                $('#title').next().html('Please enter category name');
                $('#edition').next().html('Please enter category name');
                $('#author').next().html('Please enter category name');
                $('#publisher').next().html('Please enter category name');
                $('#category').next().html('Please enter category name');
                $('#qty').next().html('Please enter category name');
                $('#date').next().html('Please enter category name');
                $('#price').next().html('Please enter category name');
                $('#des').next().html('Please enter category name');
                check = true;
            }
            return check;
            
        }
    </script>


}