@model bookstore.Models.Book
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        @using (Html.BeginForm("Create", "ManageBook", FormMethod.Post, new { @class = "form" }))
        {
            @Html.ValidationSummary();
            @Html.AntiForgeryToken();
            <div>
                <lable>Title</lable>
                @Html.TextBoxFor(m => m.title, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>Price</lable>
                @Html.TextBoxFor(m => m.price, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>Quantity In Stock</lable>
                @Html.TextBoxFor(m => m.quantity_in_stock, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>Publisher</lable>
                @Html.TextBoxFor(m => m.publisher_id, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>Category</lable>
                @Html.TextBoxFor(m => m.category_id, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>Author</lable>
                @Html.TextBoxFor(m => m.author_id, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>Description</lable>
                @Html.TextBoxFor(m => m.description, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>Image</lable>
                @Html.TextBoxFor(m => m.image, new { type = "text", @class = "form-control" })

            </div>

            <div>
                <lable>Public date</lable>
                @Html.TextBoxFor(m => m.public_date, new { type = "date", @class = "form-control" })

            </div>

            <div>
                <lable>Edition</lable>
                @Html.TextBoxFor(m => m.edition, new { type = "text", @class = "form-control" })

            </div>

            <br />
            <button type="submit">Submit</button>
        }
    </div>
</div>

