@model bookstore.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="bg">
        
        <div class="row">

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="images/product-details/1.jpg" alt="" />
                            <h3>ZOOM</h3>
                        </div>
                       

                    </div>
                    <div class="col-sm-7">
                        <h2 class="title text-center">Contact Info</h2>
                        <address>
                            <p>Name : @Model.name</p>
                            <p>UserName : @Model.username</p>
                            <p>Mobile Number : @Model.phone</p>
                            <p>Contact Email : @Model.email</p>
                            <p>Date of Birth : @Model.dob</p>
                           
                        </address>
                        <a href="@Url.Action("UpdateInformation",new {userId= Model.id})" class="btn btn-default update"> Update Information </a>
                        <a href="@Url.Action()" class="btn btn-primary"> Address List</a>
                        <a href="@Url.Action()" class="btn btn-primary"> Payment List</a>
                    </div>
                </div><!--/product-details-->
            </div>
    </div>
</div><!--/#contact-page-->
