@model bookstore.ViewModels.Customer.CustomerUpdateInformationViewModel
@{
    ViewBag.Title = "UpdateInfromation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-9">
                    <div class="shopper-info">
                        <p>User Information</p>
                        @using (Html.BeginForm("UpdateInformation", "Customer", FormMethod.Post, new { @class = "form" }))
                        {

                            @Html.ValidationSummary();
                            @Html.AntiForgeryToken();
                            <div>
                                <lable>Name</lable>
                                @Html.TextBoxFor(m => m.Name, new { type = "text", @class = "form-control" })
                            </div>

                            <div>
                                <lable>UserName</lable>
                                @Html.TextBoxFor(m => m.Username, new { type = "text", @class = "form-control" })

                            </div>

                            <div>
                                <lable>Phone</lable>
                                @Html.TextBoxFor(m => m.Phone, new { type = "text", @class = "form-control" })

                            </div>
                            <div>
                                <lable>Email</lable>
                                @Html.TextBoxFor(m => m.Email, new { type = "text", @class = "form-control" })

                            </div>
                            <div>
                                <lable>Date of birth</lable>
                                @Html.TextBoxFor(m => m.Dob, new { type = "date", @class = "form-control" })
                            </div>
                            

                            <button type="reset" class="btn btn-default"> Reset </button>
                            <button type="submit" class="btn btn-primary"> Submit </button>
                        }
                    </div>
                       
                </div>
            </div>
        </div>
        </div>
    </section>

