@model bookstore.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Order Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">ORDER DETAILS</h3>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Order")" class="breadcrumb-link">Manage Orders</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("ViewDetail", "Order" , new { id = Model.Order.id })" class="breadcrumb-link">Order Details</a></li>
                                <li class="breadcrumb-item active">Edit Order Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header p-4">
                        <div class="float-right">
                            <h4>Order Status:</h4>
                            @using (Html.BeginForm("Edit", "Order", new { id = Model.Order.id }, FormMethod.Post))
                            {
                                @Html.ValidationSummary();
                                @Html.AntiForgeryToken();


                                @*<a class="mb-0" href="#">@Model.Order.status</a> <br />*@
                                @*@Html.TextBoxFor(m => m.Order.status, new { type = "text", @class = "form-control" })*@
                                @Html.DropDownListFor(x => x.Order.status, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "Pending", Value="Pending"},
                                    new SelectListItem() {Text = "Shipping", Value="Shipping"},
                                    new SelectListItem() {Text = "Complete", Value="Complete"},
                                    new SelectListItem() {Text = "Cancel", Value="Cancel"}
                                }) <br />
                                <button type="submit" class="btn btn-primary">Update Status</button>

                            }
                        </div>


                        <div class="float-left">
                            <h3 class="pt-2">Invoice #@Model.Order.id</h3>
                            @Model.Order.date.Day/@Model.Order.date.Month/@Model.Order.date.Year
                            @if (Model.Order.payment_status == "Unpaid")
                            {
                                <p>Payment Status: <span class="text-warning">Cash on delivery</span></p>
                            }
                            else
                            {
                                <p>Payment Status: <span class="text-success">Paid by card</span></p>
                            }
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-sm-6">
                                <h5 class="mb-3">From:</h5>
                                <h3 class="text-dark mb-1">E-SHOPPER</h3>

                                <div>2546 Penn Street</div>
                                <div>Sikeston, MO 63801</div>
                                <div>Email: info@gerald.com.pl</div>
                                <div>Phone: +573-282-9117</div>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="mb-3">To:</h5>
                                <h3 class="text-dark mb-1">@Model.User.name</h3>
                                <div>Address: @Model.Order.delivery_location</div>
                                <div>Email: @Model.User.email</div>
                                <div>Phone: @Model.User.phone</div>
                            </div>
                        </div>
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead class="bg-light">
                                    <tr>
                                        <th class="center">#</th>
                                        <th>Item</th>
                                        <th>Description</th>
                                        <th class="right">Unit Cost</th>
                                        <th class="center">Qty</th>
                                        <th class="center">Qty in stock</th>
                                        <th class="center">Checking</th>
                                        <th class="right">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListOrderDetail.Where(m => m.order_id == Model.Order.id))
                                    {
                                        <tr>
                                            <td>@item.id</td>
                                            <td><a href="@Url.Action("ViewDetail","Book", new { id = Model.OrderDetail.book_id} )">@item.Book.title</a></td>
                                            <td>@item.Book.description</td>
                                            <td>$@item.Book.price</td>
                                            <td id="qty" class="">@item.quantity</td>
                                            <td>@item.Book.quantity_in_stock</td>
                                            <td>
                                                @if (item.quantity <= item.Book.quantity_in_stock)
                                                {
                                                    <span class="text-success">Okay</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">Out of stock</span>
                                                }
                                            </td>
                                            <td id="price">$@item.total_price</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <div class="card" style="border:2px">
                                    <div class="card-body">
                                        <h3 class="card-title">Note:</h3>
                                        <p class="card-text">@Model.Order.note</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-5 ml-auto">
                                <table class="table table-clear">
                                    <tbody>
                                        @*<tr>
                                            <td class="left">
                                                <strong class="text-dark">Subtotal</strong>
                                            </td>
                                            <td class="right" id="subTotal" onload="SubTotal"></td>
                                        </tr>*@
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">Shipping</strong>
                                            </td>
                                            <td class="right" id="shipping">$@Model.Order.shipping_price</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">Total</strong>
                                            </td>
                                            <td class="right">
                                                <strong class="text-dark">$@Model.Order.total_price</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="mb-0">2983 Glenview Drive Corpus Christi, TX 78476</p>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section js {
   

}