@model bookstore.ViewModels.OrderViewModel
@{
    ViewBag.Title = "Order Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header p-4">
                        <div class="float-right">
                            <strong>Order Status:</strong> 
                            @using (Html.BeginForm("Edit", "Order", new { id = Model.Order.id }, FormMethod.Post))
                            {
                                @Html.ValidationSummary();
                                @Html.AntiForgeryToken();


                                @*<a class="mb-0" href="#">@Model.Order.status</a> <br />*@
                                @*@Html.TextBoxFor(m => m.Order.status, new { type = "text", @class = "form-control" })*@
                                @Html.DropDownListFor(x => x.Order.status, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "Pending", Value="Pending"},
                                    new SelectListItem() {Text = "Shipping", Value="Shipping"},
                                    new SelectListItem() {Text = "Complete", Value="Complete"},
                                    new SelectListItem() {Text = "Cancel", Value="Cancel"}
                                }) <br />
                                <button type="submit" class="btn btn-primary">Update Status</button>

                            }
                        </div>


                        <div class="float-left">
                            <h3 class="pt-2">Invoice #@Model.Order.id</h3>
                            @Model.Order.date.Day/@Model.Order.date.Month/@Model.Order.date.Year
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-sm-6">
                                <h5 class="mb-3">From:</h5>
                                <h3 class="text-dark mb-1">Gerald A. Garcia</h3>

                                <div>2546 Penn Street</div>
                                <div>Sikeston, MO 63801</div>
                                <div>Email: info@gerald.com.pl</div>
                                <div>Phone: +573-282-9117</div>
                            </div>
                            <div class="col-sm-6">
                                <h5 class="mb-3">To:</h5>
                                <h3 class="text-dark mb-1">@Model.User.name</h3>
                                <div>@Model.Address.district</div>
                                <div>@Model.Address.address1</div>
                                <div>Email: @Model.User.email</div>
                                <div>Phone: @Model.User.phone</div>
                            </div>
                        </div>
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="center">#</th>
                                        <th>Item</th>
                                        <th>Description</th>
                                        <th class="right">Unit Cost</th>
                                        <th class="center">Qty</th>
                                        <th class="center">Qty in stock</th>
                                        <th class="center">Checking</th>
                                        <th class="right">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ListOrderDetail.Where(m => m.order_id == Model.Order.id))
                                    {
                                    <tr>
                                        <td>@item.id</td>
                                        <td><a href="@Url.Action("ViewDetail","Book", new { id = Model.OrderDetail.book_id} )">@item.Book.title</a></td>
                                        <td>@item.Book.description</td>
                                        <td>$@item.Book.price</td>
                                        <td id="qty" class="">@item.quantity</td>
                                        <td>@item.Book.quantity_in_stock</td>
                                        <td id="check"></td>
                                        <td id="price">$@item.total_price</td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-5">
                            </div>
                            <div class="col-lg-4 col-sm-5 ml-auto">
                                <table class="table table-clear">
                                    <tbody>
                                        @*<tr>
                                                <td class="left">
                                                    <strong class="text-dark">Subtotal</strong>
                                                </td>
                                                <td class="right" id="subTotal" onload="SubTotal"></td>
                                            </tr>*@
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">Shipping</strong>
                                            </td>
                                            <td class="right" id="shipping">$@Model.Order.shipping_price</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong class="text-dark">Total</strong>
                                            </td>
                                            <td class="right">
                                                <strong class="text-dark">$@Model.Order.total_price</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="mb-0">2983 Glenview Drive Corpus Christi, TX 78476</p>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section js {
    <script>
        
        if (@Model.OrderDetail.quantity <= @Model.OrderDetail.Book.quantity_in_stock) {
            document.getElementById("check").innerHTML = "Okay";
            document.getElementById("check").classList.add = "text-success";
        }
        else if(@Model.OrderDetail.quantity > @Model.OrderDetail.Book.quantity_in_stock){
            document.getElementById("check").innerHTML = "Out of stock";
            document.getElementById("check").classList.add = "text-success";
        }
    </script>

}