@model IEnumerable<bookstore.Models.Payment_card>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <style>
        .center {
            margin: auto;
            width: 85%;
        }
        table tr td:first-child {
            padding-left: 20px;
        }
    </style>
}


<section id="cart_items">
    <div class="container">
        <div class="shopper-informations">
            <div class="row" style="margin-bottom: 80px;">
                <div class="shopper-info">
                    <div class="col-12 center">
                        @if (TempData["success"] != null)
                        {
                            <div class="alert alert-success" id="success">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <p>@TempData["success"]</p>
                            </div>
                        }
                        <div class="heading">
                            <p>You can Update your payment cards here!</p>
                            <br />
                        </div>

                        <h2 class="title text-center">Payment Card Management</h2>

                        <a href="@Url.Action("Create", "PaymentCard")" class="btn btn-success"> Create New</a>
                        <br /><br />

                        <div class="table-responsive cart_info">

                            <table class="table">
                                <thead>
                                    <tr class="cart_menu">
                                        <th scope="col" style="padding-bottom: 12px; padding-left:20px">ID</th>
                                        <th scope="col" style="padding-bottom: 12px">Card Number</th>
                                        <th scope="col" style="padding-bottom: 12px">From Date</th>
                                        <th scope="col" style="padding-bottom: 12px">To Date</th>
                                        <th scope="col" style="padding-bottom: 12px">Cart Type</th>
                                        <th scope="col" style="padding-bottom: 12px">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var paymentCard in Model)
                                    {
                                        <tr>
                                            <td>@paymentCard.id</td>
                                            <td>@paymentCard.card_number</td>
                                            <td>@paymentCard.from_date</td>
                                            <td>@paymentCard.to_date</td>
                                            <td>@paymentCard.card_type</td>
                                            <td>
                                                @Html.ActionLink(" Edit", "Edit", new { id = paymentCard.id }, new { @class = "btn btn-info" })
                                                @using (Html.BeginForm("Delete", "PaymentCard", new { id = paymentCard.id }, FormMethod.Post, new { style = "display:inline" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" class="btn btn-danger "> Delete</button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                        <a href="@Url.Action("Index","Customer")" class="btn btn-default update pull-right"> Back </a>


                    </div>



                </div>
            </div>
        </div>
    </div>
</section>


