@model IEnumerable<bookstore.Models.Category>

@{
    ViewBag.Title = "Manage Categories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Manage Category</h2>



<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">

        <div class="row">
            <div class="col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">CATEGORIES</h5>

                    <div class="card-header">
                        <button type="button"><a href="@Url.Action("Create", "Category")">Create New</a></button>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table table-striped table-bordered first">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Category Name</th>
                                        <th scope="col">Actions</th>

                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var category in Model)
                                    {
                                        <tr>
                                            <td>@category.id</td>
                                            <td>@category.category_name</td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = category.id })

                                                @using (Html.BeginForm("Delete", "Category", new { id = category.id }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit">Delete</button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




@section css{
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content//vendor/datatables/css/dataTables.bootstrap4.css">
}


@section js{
    <script src="~/Areas/Admin/Content//vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/datatables/js/data-table.js"></script>
}
