@model bookstore.Models.Author
@{
    ViewBag.Title = "EditDetail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">EDIT AUTHOR DETAILS </h3>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Author")" class="breadcrumb-link">Manage Authors</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Edit Author Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("Edit", "Author", FormMethod.Post))
        {
            @Html.ValidationSummary();
            @Html.AntiForgeryToken();
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Author Information</h2>
                    <br />
                    <div class="row">

                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                            <div class="text-center">
                                <img src="~/images/author/@Model.image" alt="User Avatar" class="rounded-circle user-avatar-xxl">
                                <lable>Image</lable>
                                <input type="file" name="upload_image" id="upload_image" class="form-control" />
                                <br />
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-8 col-md-8 col-sm-8 col-12">
                            <div class="user-avatar-info">


                                <!--  <div class="float-right"><a href="#" class="user-avatar-email text-secondary">www.henrybarbara.com</a></div> -->
                                <div class="user-avatar-address">
                                    <label>Author Name</label>
                                    @Html.TextBoxFor(m => m.author_name, new { type = "text", @class = "form-control" })
                                    <br />
                                    <label>Author Birth Year</label>
                                    @Html.TextBoxFor(m => m.birth_year, new { type = "text", @class = "form-control" })
                                    <br />
                                    <label>Author Active Status</label>
                                    @Html.TextBoxFor(m => m.status, new { type = "text", @class = "form-control" })
                                    <br />

                                    <label>Description</label>
                                    @Html.TextAreaFor(m => m.description, new { type = "text", @class = "form-control" })
                                    <br />
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        }
    </div>
    </div>

