@model bookstore.ViewModels.PublisherProduct.PublisherProductViewModel

@{
    ViewBag.Title = "Publisher";
    Layout = "~/Views/Shared/_WithSidebarLayout.cshtml";
}

    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Publisher: @Model.Publisher.publisher_name</h2>
        @if (Model.Books.Count() == 0)
        {
            <h2 style="color:#FE980F">No Match Any Book</h2>
        }
        else
        {
            foreach (var book in Model.Books)
            {
                <div class="col-sm-4">
                    <div class="product-image-wrapper ">
                        @Html.Partial("~/Views/Product/_Item.cshtml", book)
                    </div>
                </div>
            }
        }

    </div><!--features_items-->
    <div class="category-tab shop-details-tab">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <li><a href="#details" data-toggle="tab">Details</a></li>
                <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade" id="details">
                <div class="col-sm-12">
                    
                </div>
            </div>

            <div class="tab-pane fade active in" id="reviews">
                <div class="col-sm-12">
                    <ul>
                        <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
                        <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
                        <li><a href=""><i class="fa fa-calendar-o"></i>@Model.Publisher.est_date</a></li>
                    </ul>
                    <p>@Model.Publisher.description</p>                   
                    <p><b>Write Your Review</b></p>

                    <form action="#">
                        <span>
                            <input type="text" placeholder="Your Name" />
                            <input type="email" placeholder="Email Address" />
                        </span>
                        <textarea name=""></textarea>
                        <b>Rating: </b> <img src="~/images/product-details/rating.png" alt="" />
                        <button type="button" class="btn btn-default pull-right">
                            Submit
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>

<ul class="pagination">
    @{
        int numberPage = ViewBag.numberPage;
        int pageCurrent = ViewBag.pageCurrent;
        int i;
        for (i = 1; i <= numberPage; i++)
        {
            <li class="@(i == pageCurrent ? "active" : "")"><a href="?page=@i">@i</a></li>
        }
    }
</ul>


@section js{
    <script src="@Url.Content("~/Scripts/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.scrollUp.min.js")"></script>
    <script src="@Url.Content("~/Scripts/price-range.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.prettyPhoto.js")"></script>
    <script src="@Url.Content("~/Scripts/main.js")"></script>
}
