@model IEnumerable<bookstore.Models.Order>
  
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<section id="cart_items">
    <div class="container">
        <div class="shopper-informations">
            <div class="row">


                <div class="shopper-info">


                    <div class="heading">
                        <h3>Order List</h3>
                        <p>You can update your order here</p>
                    </div>

                    <br /><br />

                    <div class="col-sm-13">
                        <div class="table-responsive cart_info">
                            <br /><br />
                            <table class="table table-bordered first">
                                <thead>
                                    <tr class="cart_menu">
                                        <th scope="col">Order Number</th>
                                        <th scope="col">Delivery Location</th>
                                        <th scope="col">Order Total Price</th>
                                        <th scope="col">Order Status</th>
                                        <th scope="col">Order Date</th>
                                        <th scope="col">Order Note</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var order in Model)
                                    {
                                    <tr>
                                        <td>@order.order_number</td>
                                        <td>@order.delivery_location</td>
                                        <td>@order.total_price</td>

                                        @if (order.status == "Pending")
                                        {
                                            <td style="color:orange">
                                                @order.status
                                            </td>
                                        }
                                        else if (order.status == "Shipping")
                                        {
                                            <td style="color:blue">
                                                <i class="fas fa-shipping-fast"></i>
                                                @order.status
                                            </td>
                                        }
                                        else if (order.status == "Complete")
                                        {
                                            <td style="color:forestgreen">
                                                <i class="fas fa-clipboard-check"></i>
                                                @order.status
                                            </td>
                                        }
                                        else 
                                        {
                                            <td style="color:red">
                                                <i class="fas fa-window-close"></i>
                                                @order.status
                                            </td>

                                        }


                                        <td>@order.date</td>
                                        <td>@order.note</td>

                                        <td>
                                            @if (order.status == "Pending")
                                            {
                                                @Html.ActionLink("ViewDetails", "ViewDetails", new { order_id = order.id }, new { @class = "btn btn-info" })

                                                <a class="btn btn-danger " style="display:inline" href="@Url.Action("Delete", new { order_id = order.id })" onclick="return confirm('Delete this item?');">Cancel</a>
                                            }
                                            else
                                            {
                                                @Html.ActionLink("ViewDetails", "ViewDetails", new { order_id = order.id }, new { @class = "btn btn-info" })
                                            }
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                            <a href="@Url.Action("Index","Home")" class="btn btn-default update"> Back </a>
                            <br /><br />

                        </div>



                    </div>



                </div>
            </div>
        </div>
    </div>

</section>

@*=============*@




        @section js{
            <script src="~/Areas/Admin/Content/vendor/jquery/jquery-3.3.1.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script src="~/Areas/Admin/Content/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
            <script src="~/Areas/Admin/Content/vendor/datatables/js/data-table.js"></script>
            <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.js"></script>
            <script src="~/Areas/Admin/Content/vendor/slimscroll/jquery.slimscroll.js"></script>
            <script src="~/Areas/Admin/Content/js/main-js.js"></script>

            <script>
                setTimeout(function () {
                    $('#success').fadeOut('slow');
                }, 2000);
            </script>
        }

        @section css{
            <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Content/vendor/datatables/css/dataTables.bootstrap4.css">
        }
