@model bookstore.Models.Address
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="cart_items">
    <div class="container">
        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-9">
                    <div class="shopper-info">

                        <div class="heading">
                            <h3>Create Address</h3>
                            <p>You can Create your new address here!</p>
                        </div>

                        <div class="row">
                            <h5 style="color: red"> @Html.ValidationSummary()</h5>
                            <div class="col-sm-12">
                                <div class="total_area">
                                    <ul>
                                        <li>
                                            @using (Html.BeginForm("Create", "Address", FormMethod.Post, new { @class = "form" }))
                                            {
                                                @Html.AntiForgeryToken();
                                               
                                                    <lable>Address</lable>
                                                    @Html.TextBoxFor(m => m.address1, new { type = "text", @class = "form-control" }) <br />

                                                    <lable>City</lable>
                                                    @Html.TextBoxFor(m => m.city, new { type = "text", @class = "form-control" }) <br />

                                                    <lable>District</lable>
                                                    @Html.TextBoxFor(m => m.district, new { type = "text", @class = "form-control" }) <br />

                                                    <lable>Postal Code</lable>
                                                    @Html.TextBoxFor(m => m.postal_code, new { type = "text", @class = "form-control" }) <br />


                                                <a href="@Url.Action("Index","Customer")" class="btn btn-default" style="text-align:center"> Back </a>
                                                <button type="submit" class="btn btn-default" style="text-align:center"> Submit </button>
                                            }
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                       

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


