@model bookstore.Areas.Admin.ViewModels.Publisher.CreatePublisherViewModel
@{
    ViewBag.Title = "CreatePublisher";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h3 class="mb-2">CREATE NEW PUBLISHER</h3>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard")" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Publisher")" class="breadcrumb-link">Manage Publisher</a></li>
                                <li class="breadcrumb-item active">Create Publisher</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("Create", "Publisher", FormMethod.Post, new { enctype="multipart/form-data" }))
        {
            @*@Html.ValidationSummary();*@
            @Html.AntiForgeryToken();
            <div class="card">
                <div class="card-body">
                    @*<h2 class="card-title">Create New Publisher</h2>
                        <br />*@
                    <div class="row">

                        @*<div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-12">
                                <div class="text-center">
                                    <img src="~/Areas/Admin/Content/images/avatar-1.jpg" alt="User Avatar" class="rounded-circle user-avatar-xxl">
                                </div>
                            </div>*@
                        <div class="col-xl-12 col-lg-8 col-md-8 col-sm-8 col-12">
                            <div class="user-avatar-info">

                                <!--  <div class="float-right"><a href="#" class="user-avatar-email text-secondary">www.henrybarbara.com</a></div> -->
                                <div class="user-avatar-address">
                                    <label>Publisher Name</label>
                                    @Html.TextBoxFor(m => m.PublisherName, new { type = "text", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.PublisherName, "", new { @class ="text-danger"})
                                    <br />

                                    <label>Publisher Establish Year</label>
                                    @Html.TextBoxFor(m => m.EstDate, new { type = "text", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EstDate, "", new { @class = "text-danger" })
                                    <br />

                                    <lable>Image</lable>
                                    @Html.TextBoxFor(p=>p.Image, new { type="file", @class="form-control"})
                                    <br />

                                    <label>Description</label>
                                    @Html.TextAreaFor(m => m.PubliserDescription, new { type = "text", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.PubliserDescription, "", new { @class = "text-danger" })
                                    <br />
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        }
    </div>
</div>

